/* src/App.css */
body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1fff2; /* Lightest background */
  color: #8267c6; /* Primary text color */
  overflow-x: hidden; /* Ensure no horizontal scroll */
}

.App {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  position: relative; /* Added for z-index context */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  background-color: #c3f8cc; /* Light green background for product items */
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-item h3 {
  margin: 15px 0 10px;
  color: #6b34b7; /* Dark purple for item titles */
}

.cart {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 300px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #b3e9c7; /* Light green for cart */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart h2 {
  color: #8267c6;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.cart-item p {
  margin: 5px 0;
}

button {
  background-color: #6b34b7;
  color: #f1fff2;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

button:hover {
  background-color: #8267c6;
}

.toggle-cart-button {
  background-color: #6b34b7;
  color: #f1fff2;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 1010;
}

.toggle-cart-button:hover {
  background-color: #8267c6;
}

.primary-header {
  text-align: center;
  padding: 20px 0;
  background-color: #6b34b7; /* Primary color */
  color: #f1fff2; /* Lightest color for text */
}

.primary-header h1 {
  margin: 0;
  font-size: 2.5em; /* Larger font size for the logo */
  font-weight: bold;
}

.secondary-header {
  background-color: #8267c6;
  display: flex;
  justify-content: space-between; /* This will be changed to center the navigation links */
  align-items: center;
  padding: 10px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  /* Add right margin to push nav links slightly to the left */
  margin-right: 15%; /* Adjust percentage as needed to move more to the left */
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #f1fff2;
  background-color: #8267c6; /* Slightly darker for contrast */
  text-decoration: none;
  font-size: 1em; /* Adjust the font size as needed */
  padding: 10px 15px; /* More padding for a button-like appearance */
  border: solid 2px #6b34b7; /* Border to enhance appearance */
  border-radius: 5px; /* Soft rounded corners for a modern look */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav-links a:hover {
  background-color: #6b34b7; /* Darker shade for hover */
  color: #c3f8cc; /* Light green for hover text */
}


.wallet-button, .cart-button {
  margin: 0 20px; /* Add some horizontal space around these buttons */
}

.cart-button {
  display: flex;
  align-items: center;
}


.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8267c6; /* Medium purple */
}

.hero-content {
  color: #f1fff2;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.video {
  position: relative;
  width: 220px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video:hover {
  transform: scale(1.05);
}

.video img {
  width: 100%;
  height: 125px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.video:hover img {
  transform: scale(1.1);
}

.video p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f1fff2;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.video:hover p {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  background-color: #8267c6;
  color: #f1fff2;
  padding: 40px 0;
  font-size: 16px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
  color: #f1fff2;
}

.social-icons {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  display: inline-block;
  color: #f1fff2;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #b3e9c7;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #ccc6ba; /* Lighter border for subtle contrast */
  padding-top: 20px;
  color: #f1fff2; /* Lightest color for text */
}

/* ShippingForm CSS */
form[name="shipping"] {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #c3f8cc; /* Light green for form background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form[name="shipping"] p {
  margin: 0;
  padding: 10px 0;
  color: #403d39; /* Dark color for text */
}

form[name="shipping"] label {
  display: block;
  margin-bottom: 5px;
  color: #252423; /* Dark color for label text */
  font-weight: bold;
}

form[name="shipping"] input,
form[name="shipping"] textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 20px 0;
  border: 1px solid #8267c6; /* Medium purple for border */
  border-radius: 4px;
  box-sizing: border-box;
}

form[name="shipping"] button {
  width: 100%;
  padding: 10px;
  background-color: #6b34b7; /* Dark purple for buttons */
  color: #f1fff2; /* Lightest color for button text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

form[name="shipping"] button:hover {
  background-color: #8267c6; /* Lighter purple for button hover */
}

/* ReviewOrder CSS */
.review-order {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #b3e9c7; /* Light green for review order background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.review-order h2 {
  color: #6b34b7; /* Dark purple for headings */
  text-align: center;
  margin-bottom: 20px;
}

.review-order ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.review-order li {
  background-color: #c3f8cc; /* Light green for list items */
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

.review-order p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #403d39; /* Dark text color for paragraphs */
  margin-bottom: 20px;
}

.review-order button {
  background-color: #6b34b7; /* Dark purple for buttons */
  color: #f1fff2; /* Lightest color for button text */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review-order button:hover {
  background-color: #8267c6; /* Lighter purple for button hover */
}
